fastapi
uvicorn
unstructured
tiktoken
pypdf
pypdf2
openai
langchain
pandas 
numpy
python-dotenv
langchain-pinecone
langchain-community
langchain-openai
pinecone-client[grpc]==3.0.0
psycopg2-binary
faiss-cpu
google-cloud-storage
azure-ai-formrecognizer==3.3.3
azure-core==1.30.1
reportlab
pdfrw
google-cloud-vision
python-multipart