fastapi
uvicorn
unstructured
tiktoken
pypdf
pypdf2
openai
langchain
pandas 
numpy
python-dotenv
langchain-pinecone
langchain-community
langchain-openai
langchainhub
pinecone-client[grpc]==3.0.0
psycopg2-binary
faiss-cpu
google-cloud-storage